<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superwallet.mapper.AgentMapper">
    <resultMap id="BaseResultMap" type="com.superwallet.pojo.Agent">
        <id column="UID" property="uid" jdbcType="CHAR"/>
        <result column="createTime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="nickName" property="nickname" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="phoneNumber" property="phonenumber" jdbcType="VARCHAR"/>
        <result column="lowerAmount" property="loweramount" jdbcType="INTEGER"/>
        <result column="earnings" property="earnings" jdbcType="DOUBLE"/>
        <result column="totalIncome" property="totalincome" jdbcType="DOUBLE"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    UID, createTime, nickName, sex, phoneNumber, lowerAmount, earnings, totalIncome
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.superwallet.pojo.AgentExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from agent
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from agent
        where UID = #{uid,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from agent
    where UID = #{uid,jdbcType=CHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.superwallet.pojo.AgentExample">
        delete from agent
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.superwallet.pojo.Agent">
    insert into agent (UID, createTime, nickName, 
      sex, phoneNumber, lowerAmount, 
      earnings, totalIncome)
    values (#{uid,jdbcType=CHAR}, #{createtime,jdbcType=TIMESTAMP}, #{nickname,jdbcType=VARCHAR}, 
      #{sex,jdbcType=TINYINT}, #{phonenumber,jdbcType=VARCHAR}, #{loweramount,jdbcType=INTEGER}, 
      #{earnings,jdbcType=DOUBLE}, #{totalincome,jdbcType=DOUBLE})
  </insert>
    <insert id="insertSelective" parameterType="com.superwallet.pojo.Agent">
        insert into agent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                UID,
            </if>
            <if test="createtime != null">
                createTime,
            </if>
            <if test="nickname != null">
                nickName,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="phonenumber != null">
                phoneNumber,
            </if>
            <if test="loweramount != null">
                lowerAmount,
            </if>
            <if test="earnings != null">
                earnings,
            </if>
            <if test="totalincome != null">
                totalIncome,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=CHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=TINYINT},
            </if>
            <if test="phonenumber != null">
                #{phonenumber,jdbcType=VARCHAR},
            </if>
            <if test="loweramount != null">
                #{loweramount,jdbcType=INTEGER},
            </if>
            <if test="earnings != null">
                #{earnings,jdbcType=DOUBLE},
            </if>
            <if test="totalincome != null">
                #{totalincome,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.superwallet.pojo.AgentExample" resultType="java.lang.Integer">
        select count(*) from agent
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update agent
        <set>
            <if test="record.uid != null">
                UID = #{record.uid,jdbcType=CHAR},
            </if>
            <if test="record.createtime != null">
                createTime = #{record.createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.nickname != null">
                nickName = #{record.nickname,jdbcType=VARCHAR},
            </if>
            <if test="record.sex != null">
                sex = #{record.sex,jdbcType=TINYINT},
            </if>
            <if test="record.phonenumber != null">
                phoneNumber = #{record.phonenumber,jdbcType=VARCHAR},
            </if>
            <if test="record.loweramount != null">
                lowerAmount = #{record.loweramount,jdbcType=INTEGER},
            </if>
            <if test="record.earnings != null">
                earnings = #{record.earnings,jdbcType=DOUBLE},
            </if>
            <if test="record.totalincome != null">
                totalIncome = #{record.totalincome,jdbcType=DOUBLE},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update agent
        set UID = #{record.uid,jdbcType=CHAR},
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
        nickName = #{record.nickname,jdbcType=VARCHAR},
        sex = #{record.sex,jdbcType=TINYINT},
        phoneNumber = #{record.phonenumber,jdbcType=VARCHAR},
        lowerAmount = #{record.loweramount,jdbcType=INTEGER},
        earnings = #{record.earnings,jdbcType=DOUBLE},
        totalIncome = #{record.totalincome,jdbcType=DOUBLE}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.superwallet.pojo.Agent">
        update agent
        <set>
            <if test="createtime != null">
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="nickname != null">
                nickName = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=TINYINT},
            </if>
            <if test="phonenumber != null">
                phoneNumber = #{phonenumber,jdbcType=VARCHAR},
            </if>
            <if test="loweramount != null">
                lowerAmount = #{loweramount,jdbcType=INTEGER},
            </if>
            <if test="earnings != null">
                earnings = #{earnings,jdbcType=DOUBLE},
            </if>
            <if test="totalincome != null">
                totalIncome = #{totalincome,jdbcType=DOUBLE},
            </if>
        </set>
        where UID = #{uid,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.superwallet.pojo.Agent">
    update agent
    set createTime = #{createtime,jdbcType=TIMESTAMP},
      nickName = #{nickname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      lowerAmount = #{loweramount,jdbcType=INTEGER},
      earnings = #{earnings,jdbcType=DOUBLE},
      totalIncome = #{totalincome,jdbcType=DOUBLE}
    where UID = #{uid,jdbcType=CHAR}
  </update>
</mapper>