<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superwallet.mapper.EosprikeywarehouseMapper">
    <resultMap id="BaseResultMap" type="com.superwallet.pojo.Eosprikeywarehouse">
        <id column="UID" property="uid" jdbcType="CHAR"/>
        <result column="ownerPriKey" property="ownerprikey" jdbcType="VARCHAR"/>
        <result column="activePriKey" property="activeprikey" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    UID, ownerPriKey, activePriKey
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.superwallet.pojo.EosprikeywarehouseExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from eosprikeywarehouse
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from eosprikeywarehouse
        where UID = #{uid,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from eosprikeywarehouse
    where UID = #{uid,jdbcType=CHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.superwallet.pojo.EosprikeywarehouseExample">
        delete from eosprikeywarehouse
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.superwallet.pojo.Eosprikeywarehouse">
    insert into eosprikeywarehouse (UID, ownerPriKey, activePriKey
      )
    values (#{uid,jdbcType=CHAR}, #{ownerprikey,jdbcType=VARCHAR}, #{activeprikey,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.superwallet.pojo.Eosprikeywarehouse">
        insert into eosprikeywarehouse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                UID,
            </if>
            <if test="ownerprikey != null">
                ownerPriKey,
            </if>
            <if test="activeprikey != null">
                activePriKey,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=CHAR},
            </if>
            <if test="ownerprikey != null">
                #{ownerprikey,jdbcType=VARCHAR},
            </if>
            <if test="activeprikey != null">
                #{activeprikey,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.superwallet.pojo.EosprikeywarehouseExample"
            resultType="java.lang.Integer">
        select count(*) from eosprikeywarehouse
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update eosprikeywarehouse
        <set>
            <if test="record.uid != null">
                UID = #{record.uid,jdbcType=CHAR},
            </if>
            <if test="record.ownerprikey != null">
                ownerPriKey = #{record.ownerprikey,jdbcType=VARCHAR},
            </if>
            <if test="record.activeprikey != null">
                activePriKey = #{record.activeprikey,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update eosprikeywarehouse
        set UID = #{record.uid,jdbcType=CHAR},
        ownerPriKey = #{record.ownerprikey,jdbcType=VARCHAR},
        activePriKey = #{record.activeprikey,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.superwallet.pojo.Eosprikeywarehouse">
        update eosprikeywarehouse
        <set>
            <if test="ownerprikey != null">
                ownerPriKey = #{ownerprikey,jdbcType=VARCHAR},
            </if>
            <if test="activeprikey != null">
                activePriKey = #{activeprikey,jdbcType=VARCHAR},
            </if>
        </set>
        where UID = #{uid,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.superwallet.pojo.Eosprikeywarehouse">
    update eosprikeywarehouse
    set ownerPriKey = #{ownerprikey,jdbcType=VARCHAR},
      activePriKey = #{activeprikey,jdbcType=VARCHAR}
    where UID = #{uid,jdbcType=CHAR}
  </update>
</mapper>