<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.EostokenMapper">
    <resultMap id="BaseResultMap" type="pojo.Eostoken">
        <id column="UID" property="uid" jdbcType="CHAR"/>
        <id column="type" property="type" jdbcType="INTEGER"/>
        <result column="EOSAccountName" property="eosaccountname" jdbcType="VARCHAR"/>
        <result column="lockedAmount" property="lockedamount" jdbcType="DOUBLE"/>
        <result column="availableAmount" property="availableamount" jdbcType="DOUBLE"/>
        <result column="amount" property="amount" jdbcType="DOUBLE"/>
        <result column="canLock" property="canlock" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    UID, type, EOSAccountName, lockedAmount, availableAmount, amount, canLock
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="pojo.EostokenExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from eostoken
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="pojo.EostokenKey">
        select
        <include refid="Base_Column_List"/>
        from eostoken
        where UID = #{uid,jdbcType=CHAR}
        and type = #{type,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="pojo.EostokenKey">
    delete from eostoken
    where UID = #{uid,jdbcType=CHAR}
      and type = #{type,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="pojo.EostokenExample">
        delete from eostoken
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="pojo.Eostoken">
    insert into eostoken (UID, type, EOSAccountName, 
      lockedAmount, availableAmount, amount, 
      canLock)
    values (#{uid,jdbcType=CHAR}, #{type,jdbcType=INTEGER}, #{eosaccountname,jdbcType=VARCHAR}, 
      #{lockedamount,jdbcType=DOUBLE}, #{availableamount,jdbcType=DOUBLE}, #{amount,jdbcType=DOUBLE}, 
      #{canlock,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="pojo.Eostoken">
        insert into eostoken
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                UID,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="eosaccountname != null">
                EOSAccountName,
            </if>
            <if test="lockedamount != null">
                lockedAmount,
            </if>
            <if test="availableamount != null">
                availableAmount,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="canlock != null">
                canLock,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=CHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="eosaccountname != null">
                #{eosaccountname,jdbcType=VARCHAR},
            </if>
            <if test="lockedamount != null">
                #{lockedamount,jdbcType=DOUBLE},
            </if>
            <if test="availableamount != null">
                #{availableamount,jdbcType=DOUBLE},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DOUBLE},
            </if>
            <if test="canlock != null">
                #{canlock,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="pojo.EostokenExample" resultType="java.lang.Integer">
        select count(*) from eostoken
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update eostoken
        <set>
            <if test="record.uid != null">
                UID = #{record.uid,jdbcType=CHAR},
            </if>
            <if test="record.type != null">
                type = #{record.type,jdbcType=INTEGER},
            </if>
            <if test="record.eosaccountname != null">
                EOSAccountName = #{record.eosaccountname,jdbcType=VARCHAR},
            </if>
            <if test="record.lockedamount != null">
                lockedAmount = #{record.lockedamount,jdbcType=DOUBLE},
            </if>
            <if test="record.availableamount != null">
                availableAmount = #{record.availableamount,jdbcType=DOUBLE},
            </if>
            <if test="record.amount != null">
                amount = #{record.amount,jdbcType=DOUBLE},
            </if>
            <if test="record.canlock != null">
                canLock = #{record.canlock,jdbcType=TINYINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update eostoken
        set UID = #{record.uid,jdbcType=CHAR},
        type = #{record.type,jdbcType=INTEGER},
        EOSAccountName = #{record.eosaccountname,jdbcType=VARCHAR},
        lockedAmount = #{record.lockedamount,jdbcType=DOUBLE},
        availableAmount = #{record.availableamount,jdbcType=DOUBLE},
        amount = #{record.amount,jdbcType=DOUBLE},
        canLock = #{record.canlock,jdbcType=TINYINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="pojo.Eostoken">
        update eostoken
        <set>
            <if test="eosaccountname != null">
                EOSAccountName = #{eosaccountname,jdbcType=VARCHAR},
            </if>
            <if test="lockedamount != null">
                lockedAmount = #{lockedamount,jdbcType=DOUBLE},
            </if>
            <if test="availableamount != null">
                availableAmount = #{availableamount,jdbcType=DOUBLE},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DOUBLE},
            </if>
            <if test="canlock != null">
                canLock = #{canlock,jdbcType=TINYINT},
            </if>
        </set>
        where UID = #{uid,jdbcType=CHAR}
        and type = #{type,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="pojo.Eostoken">
    update eostoken
    set EOSAccountName = #{eosaccountname,jdbcType=VARCHAR},
      lockedAmount = #{lockedamount,jdbcType=DOUBLE},
      availableAmount = #{availableamount,jdbcType=DOUBLE},
      amount = #{amount,jdbcType=DOUBLE},
      canLock = #{canlock,jdbcType=TINYINT}
    where UID = #{uid,jdbcType=CHAR}
      and type = #{type,jdbcType=INTEGER}
  </update>
</mapper>