<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superwallet.dao.ETHWalletMapper" >
  <resultMap id="BaseResultMap" type="com.superwallet.model.ETHWallet" >
    <id column="UID" property="uid" jdbcType="CHAR" />
    <result column="ETHAddress" property="ethAddress" jdbcType="VARCHAR" />
    <result column="lockedAmount" property="lockedAmount" jdbcType="INTEGER" />
    <result column="availableAmount" property="availableAmount" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    UID, ETHAddress, lockedAmount, availableAmount, amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ETHWallet
    where UID = #{uid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ETHWallet
    where UID = #{uid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.superwallet.model.ETHWallet" >
    insert into ETHWallet (UID, ETHAddress, lockedAmount, 
      availableAmount, amount)
    values (#{uid,jdbcType=CHAR}, #{ethAddress,jdbcType=VARCHAR}, #{lockedAmount,jdbcType=INTEGER},
      #{availableAmount,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.superwallet.model.ETHWallet" >
    insert into ETHWallet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="ethAddress != null" >
        ETHAddress,
      </if>
      <if test="lockedAmount != null" >
        lockedAmount,
      </if>
      <if test="availableAmount != null" >
        availableAmount,
      </if>
      <if test="amount != null" >
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=CHAR},
      </if>
      <if test="ethAddress != null" >
        #{ethAddress,jdbcType=VARCHAR},
      </if>
      <if test="lockedAmount != null" >
        #{lockedAmount,jdbcType=INTEGER},
      </if>
      <if test="availableAmount != null" >
        #{availableAmount,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.superwallet.model.ETHWallet" >
    update ETHWallet
    <set >
      <if test="ethAddress != null" >
        ETHAddress = #{ethAddress,jdbcType=VARCHAR},
      </if>
      <if test="lockedAmount != null" >
        lockedAmount = #{lockedAmount,jdbcType=INTEGER},
      </if>
      <if test="availableAmount != null" >
        availableAmount = #{availableAmount,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
    </set>
    where UID = #{uid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.superwallet.model.ETHWallet" >
    update ETHWallet
    set ETHAddress = #{ethAddress,jdbcType=VARCHAR},
      lockedAmount = #{lockedAmount,jdbcType=INTEGER},
      availableAmount = #{availableAmount,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER}
    where UID = #{uid,jdbcType=CHAR}
  </update>
</mapper>