<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superwallet.mapper.GamelistMapper">
  <resultMap id="BaseResultMap" type="com.superwallet.pojo.Gamelist">
    <id column="gid" property="gid" jdbcType="BIGINT"/>
    <result column="link" property="link" jdbcType="VARCHAR"/>
    <result column="type" property="type" jdbcType="TINYINT"/>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.superwallet.pojo.GamelistWithBLOBs" extends="BaseResultMap">
    <result column="photo" property="photo" jdbcType="LONGVARBINARY"/>
    <result column="text" property="text" jdbcType="LONGVARCHAR"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    gid, link, type
  </sql>
  <sql id="Blob_Column_List">
    photo, text
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
          parameterType="com.superwallet.pojo.GamelistExample">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from gamelist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.superwallet.pojo.GamelistExample">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from gamelist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from gamelist
    where gid = #{gid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from gamelist
    where gid = #{gid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.superwallet.pojo.GamelistExample">
    delete from gamelist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.superwallet.pojo.GamelistWithBLOBs">
    insert into gamelist (gid, link, type, 
      photo, text)
    values (#{gid,jdbcType=BIGINT}, #{link,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{photo,jdbcType=LONGVARBINARY}, #{text,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.superwallet.pojo.GamelistWithBLOBs">
    insert into gamelist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        gid,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="text != null">
        text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gid != null">
        #{gid,jdbcType=BIGINT},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=LONGVARBINARY},
      </if>
      <if test="text != null">
        #{text,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.superwallet.pojo.GamelistExample" resultType="java.lang.Integer">
    select count(*) from gamelist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gamelist
    <set>
      <if test="record.gid != null">
        gid = #{record.gid,jdbcType=BIGINT},
      </if>
      <if test="record.link != null">
        link = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.photo != null">
        photo = #{record.photo,jdbcType=LONGVARBINARY},
      </if>
      <if test="record.text != null">
        text = #{record.text,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update gamelist
    set gid = #{record.gid,jdbcType=BIGINT},
    link = #{record.link,jdbcType=VARCHAR},
    type = #{record.type,jdbcType=TINYINT},
    photo = #{record.photo,jdbcType=LONGVARBINARY},
    text = #{record.text,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gamelist
    set gid = #{record.gid,jdbcType=BIGINT},
    link = #{record.link,jdbcType=VARCHAR},
    type = #{record.type,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.superwallet.pojo.GamelistWithBLOBs">
    update gamelist
    <set>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=LONGVARBINARY},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where gid = #{gid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.superwallet.pojo.GamelistWithBLOBs">
    update gamelist
    set link = #{link,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      photo = #{photo,jdbcType=LONGVARBINARY},
      text = #{text,jdbcType=LONGVARCHAR}
    where gid = #{gid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.superwallet.pojo.Gamelist">
    update gamelist
    set link = #{link,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT}
    where gid = #{gid,jdbcType=BIGINT}
  </update>
</mapper>