<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superwallet.dao.PriKeyWarehouseMapper" >
  <resultMap id="BaseResultMap" type="com.superwallet.model.PriKeyWarehouse" >
    <id column="UID" property="uid" jdbcType="CHAR" />
    <result column="keyType" property="keyType" jdbcType="TINYINT" />
    <result column="priKey" property="priKey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    UID, keyType, priKey
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PriKeyWarehouse
    where UID = #{uid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PriKeyWarehouse
    where UID = #{uid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.superwallet.model.PriKeyWarehouse" >
    insert into PriKeyWarehouse (UID, keyType, priKey
      )
    values (#{uid,jdbcType=CHAR}, #{keyType,jdbcType=TINYINT}, #{priKey,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.superwallet.model.PriKeyWarehouse" >
    insert into PriKeyWarehouse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        UID,
      </if>
      <if test="keyType != null" >
        keyType,
      </if>
      <if test="priKey != null" >
        priKey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=CHAR},
      </if>
      <if test="keyType != null" >
        #{keyType,jdbcType=TINYINT},
      </if>
      <if test="priKey != null" >
        #{priKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.superwallet.model.PriKeyWarehouse" >
    update PriKeyWarehouse
    <set >
      <if test="keyType != null" >
        keyType = #{keyType,jdbcType=TINYINT},
      </if>
      <if test="priKey != null" >
        priKey = #{priKey,jdbcType=VARCHAR},
      </if>
    </set>
    where UID = #{uid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.superwallet.model.PriKeyWarehouse" >
    update PriKeyWarehouse
    set keyType = #{keyType,jdbcType=TINYINT},
      priKey = #{priKey,jdbcType=VARCHAR}
    where UID = #{uid,jdbcType=CHAR}
  </update>
</mapper>