<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superwallet.mapper.ProfitMapper">
    <resultMap id="BaseResultMap" type="com.superwallet.pojo.Profit">
        <id column="PID" property="pid" jdbcType="BIGINT"/>
        <id column="UID" property="uid" jdbcType="VARCHAR"/>
        <result column="orderID" property="orderid" jdbcType="VARCHAR"/>
        <result column="profitType" property="profittype" jdbcType="INTEGER"/>
        <result column="createTime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="profit" property="profit" jdbcType="DOUBLE"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    PID, UID, orderID, profitType, createTime, profit
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.superwallet.pojo.ProfitExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from profit
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.superwallet.pojo.ProfitKey">
        select
        <include refid="Base_Column_List"/>
        from profit
        where PID = #{pid,jdbcType=BIGINT}
        and UID = #{uid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.superwallet.pojo.ProfitKey">
    delete from profit
    where PID = #{pid,jdbcType=BIGINT}
      and UID = #{uid,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.superwallet.pojo.ProfitExample">
        delete from profit
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.superwallet.pojo.Profit">
    insert into profit (PID, UID, orderID, 
      profitType, createTime, profit
      )
    values (#{pid,jdbcType=BIGINT}, #{uid,jdbcType=VARCHAR}, #{orderid,jdbcType=VARCHAR}, 
      #{profittype,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{profit,jdbcType=DOUBLE}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.superwallet.pojo.Profit">
        insert into profit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                PID,
            </if>
            <if test="uid != null">
                UID,
            </if>
            <if test="orderid != null">
                orderID,
            </if>
            <if test="profittype != null">
                profitType,
            </if>
            <if test="createtime != null">
                createTime,
            </if>
            <if test="profit != null">
                profit,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null">
                #{pid,jdbcType=BIGINT},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="orderid != null">
                #{orderid,jdbcType=VARCHAR},
            </if>
            <if test="profittype != null">
                #{profittype,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="profit != null">
                #{profit,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.superwallet.pojo.ProfitExample" resultType="java.lang.Integer">
        select count(*) from profit
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update profit
        <set>
            <if test="record.pid != null">
                PID = #{record.pid,jdbcType=BIGINT},
            </if>
            <if test="record.uid != null">
                UID = #{record.uid,jdbcType=VARCHAR},
            </if>
            <if test="record.orderid != null">
                orderID = #{record.orderid,jdbcType=VARCHAR},
            </if>
            <if test="record.profittype != null">
                profitType = #{record.profittype,jdbcType=INTEGER},
            </if>
            <if test="record.createtime != null">
                createTime = #{record.createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.profit != null">
                profit = #{record.profit,jdbcType=DOUBLE},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update profit
        set PID = #{record.pid,jdbcType=BIGINT},
        UID = #{record.uid,jdbcType=VARCHAR},
        orderID = #{record.orderid,jdbcType=VARCHAR},
        profitType = #{record.profittype,jdbcType=INTEGER},
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
        profit = #{record.profit,jdbcType=DOUBLE}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.superwallet.pojo.Profit">
        update profit
        <set>
            <if test="orderid != null">
                orderID = #{orderid,jdbcType=VARCHAR},
            </if>
            <if test="profittype != null">
                profitType = #{profittype,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="profit != null">
                profit = #{profit,jdbcType=DOUBLE},
            </if>
        </set>
        where PID = #{pid,jdbcType=BIGINT}
        and UID = #{uid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.superwallet.pojo.Profit">
    update profit
    set orderID = #{orderid,jdbcType=VARCHAR},
      profitType = #{profittype,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      profit = #{profit,jdbcType=DOUBLE}
    where PID = #{pid,jdbcType=BIGINT}
      and UID = #{uid,jdbcType=VARCHAR}
  </update>
</mapper>