<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superwallet.mapper.TransferMapper">
    <resultMap id="BaseResultMap" type="com.superwallet.pojo.Transfer">
        <id column="transferId" property="transferid" jdbcType="BIGINT"/>
        <id column="UID" property="uid" jdbcType="CHAR"/>
        <result column="source" property="source" jdbcType="VARCHAR"/>
        <result column="destination" property="destination" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DOUBLE"/>
        <result column="transferType" property="transfertype" jdbcType="TINYINT"/>
        <result column="tokenType" property="tokentype" jdbcType="TINYINT"/>
        <result column="createdTime" property="createdtime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    transferId, UID, source, destination, amount, transferType, tokenType, createdTime, 
    status
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.superwallet.pojo.TransferExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from transfer
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.superwallet.pojo.TransferKey">
        select
        <include refid="Base_Column_List"/>
        from transfer
        where transferId = #{transferid,jdbcType=BIGINT}
        and UID = #{uid,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.superwallet.pojo.TransferKey">
    delete from transfer
    where transferId = #{transferid,jdbcType=BIGINT}
      and UID = #{uid,jdbcType=CHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.superwallet.pojo.TransferExample">
        delete from transfer
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.superwallet.pojo.Transfer">
        <selectKey keyProperty="transferid" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into transfer (transferId, UID, source,
        destination, amount, transferType,
        tokenType, createdTime, status
        )
        values (#{transferid,jdbcType=BIGINT}, #{uid,jdbcType=CHAR}, #{source,jdbcType=VARCHAR},
        #{destination,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE}, #{transfertype,jdbcType=TINYINT},
        #{tokentype,jdbcType=TINYINT}, #{createdtime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.superwallet.pojo.Transfer">
        insert into transfer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="transferid != null">
                transferId,
            </if>
            <if test="uid != null">
                UID,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="destination != null">
                destination,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="transfertype != null">
                transferType,
            </if>
            <if test="tokentype != null">
                tokenType,
            </if>
            <if test="createdtime != null">
                createdTime,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="transferid != null">
                #{transferid,jdbcType=BIGINT},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=CHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="destination != null">
                #{destination,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DOUBLE},
            </if>
            <if test="transfertype != null">
                #{transfertype,jdbcType=TINYINT},
            </if>
            <if test="tokentype != null">
                #{tokentype,jdbcType=TINYINT},
            </if>
            <if test="createdtime != null">
                #{createdtime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.superwallet.pojo.TransferExample" resultType="java.lang.Integer">
        select count(*) from transfer
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update transfer
        <set>
            <if test="record.transferid != null">
                transferId = #{record.transferid,jdbcType=BIGINT},
            </if>
            <if test="record.uid != null">
                UID = #{record.uid,jdbcType=CHAR},
            </if>
            <if test="record.source != null">
                source = #{record.source,jdbcType=VARCHAR},
            </if>
            <if test="record.destination != null">
                destination = #{record.destination,jdbcType=VARCHAR},
            </if>
            <if test="record.amount != null">
                amount = #{record.amount,jdbcType=DOUBLE},
            </if>
            <if test="record.transfertype != null">
                transferType = #{record.transfertype,jdbcType=TINYINT},
            </if>
            <if test="record.tokentype != null">
                tokenType = #{record.tokentype,jdbcType=TINYINT},
            </if>
            <if test="record.createdtime != null">
                createdTime = #{record.createdtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=TINYINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update transfer
        set transferId = #{record.transferid,jdbcType=BIGINT},
        UID = #{record.uid,jdbcType=CHAR},
        source = #{record.source,jdbcType=VARCHAR},
        destination = #{record.destination,jdbcType=VARCHAR},
        amount = #{record.amount,jdbcType=DOUBLE},
        transferType = #{record.transfertype,jdbcType=TINYINT},
        tokenType = #{record.tokentype,jdbcType=TINYINT},
        createdTime = #{record.createdtime,jdbcType=TIMESTAMP},
        status = #{record.status,jdbcType=TINYINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="bean" index="index" open="" close="" separator=";">
            update transfer
            set source = #{bean.source,jdbcType=VARCHAR},
            destination = #{bean.destination,jdbcType=VARCHAR},
            amount = #{bean.amount,jdbcType=DOUBLE},
            transferType = #{bean.transfertype,jdbcType=TINYINT},
            tokenType = #{bean.tokentype,jdbcType=TINYINT},
            createdTime = #{bean.createdtime,jdbcType=TIMESTAMP},
            status = #{bean.status,jdbcType=TINYINT}
            where transferId = #{bean.transferid,jdbcType=BIGINT}
            and UID = #{bean.uid,jdbcType=CHAR}
        </foreach>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.superwallet.pojo.Transfer">
        update transfer
        <set>
            <if test="source != null">
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="destination != null">
                destination = #{destination,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DOUBLE},
            </if>
            <if test="transfertype != null">
                transferType = #{transfertype,jdbcType=TINYINT},
            </if>
            <if test="tokentype != null">
                tokenType = #{tokentype,jdbcType=TINYINT},
            </if>
            <if test="createdtime != null">
                createdTime = #{createdtime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where transferId = #{transferid,jdbcType=BIGINT}
        and UID = #{uid,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.superwallet.pojo.Transfer">
    update transfer
    set source = #{source,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      transferType = #{transfertype,jdbcType=TINYINT},
      tokenType = #{tokentype,jdbcType=TINYINT},
      createdTime = #{createdtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where transferId = #{transferid,jdbcType=BIGINT}
      and UID = #{uid,jdbcType=CHAR}
  </update>
</mapper>