<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.superwallet.mapper.UserstatusMapper">
    <resultMap id="BaseResultMap" type="com.superwallet.pojo.Userstatus">
        <id column="UID" property="uid" jdbcType="CHAR"/>
        <result column="lastOpTime" property="lastoptime" jdbcType="TIMESTAMP"/>
        <result column="lastOpDevice" property="lastopdevice" jdbcType="VARCHAR"/>
        <result column="invitedTime" property="invitedtime" jdbcType="TIMESTAMP"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    UID, lastOpTime, lastOpDevice, invitedTime, state
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.superwallet.pojo.UserstatusExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from userstatus
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from userstatus
        where UID = #{uid,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from userstatus
    where UID = #{uid,jdbcType=CHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.superwallet.pojo.UserstatusExample">
        delete from userstatus
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.superwallet.pojo.Userstatus">
    insert into userstatus (UID, lastOpTime, lastOpDevice, 
      invitedTime, state)
    values (#{uid,jdbcType=CHAR}, #{lastoptime,jdbcType=TIMESTAMP}, #{lastopdevice,jdbcType=VARCHAR}, 
      #{invitedtime,jdbcType=TIMESTAMP}, #{state,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.superwallet.pojo.Userstatus">
        insert into userstatus
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                UID,
            </if>
            <if test="lastoptime != null">
                lastOpTime,
            </if>
            <if test="lastopdevice != null">
                lastOpDevice,
            </if>
            <if test="invitedtime != null">
                invitedTime,
            </if>
            <if test="state != null">
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=CHAR},
            </if>
            <if test="lastoptime != null">
                #{lastoptime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastopdevice != null">
                #{lastopdevice,jdbcType=VARCHAR},
            </if>
            <if test="invitedtime != null">
                #{invitedtime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.superwallet.pojo.UserstatusExample" resultType="java.lang.Integer">
        select count(*) from userstatus
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update userstatus
        <set>
            <if test="record.uid != null">
                UID = #{record.uid,jdbcType=CHAR},
            </if>
            <if test="record.lastoptime != null">
                lastOpTime = #{record.lastoptime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.lastopdevice != null">
                lastOpDevice = #{record.lastopdevice,jdbcType=VARCHAR},
            </if>
            <if test="record.invitedtime != null">
                invitedTime = #{record.invitedtime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.state != null">
                state = #{record.state,jdbcType=TINYINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update userstatus
        set UID = #{record.uid,jdbcType=CHAR},
        lastOpTime = #{record.lastoptime,jdbcType=TIMESTAMP},
        lastOpDevice = #{record.lastopdevice,jdbcType=VARCHAR},
        invitedTime = #{record.invitedtime,jdbcType=TIMESTAMP},
        state = #{record.state,jdbcType=TINYINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.superwallet.pojo.Userstatus">
        update userstatus
        <set>
            <if test="lastoptime != null">
                lastOpTime = #{lastoptime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastopdevice != null">
                lastOpDevice = #{lastopdevice,jdbcType=VARCHAR},
            </if>
            <if test="invitedtime != null">
                invitedTime = #{invitedtime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=TINYINT},
            </if>
        </set>
        where UID = #{uid,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.superwallet.pojo.Userstatus">
    update userstatus
    set lastOpTime = #{lastoptime,jdbcType=TIMESTAMP},
      lastOpDevice = #{lastopdevice,jdbcType=VARCHAR},
      invitedTime = #{invitedtime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=TINYINT}
    where UID = #{uid,jdbcType=CHAR}
  </update>
</mapper>